
<form [formGroup]="form3">
    <div class="form-group">
        <label>Username</label>
        <input type="text" formControlName="username" class="form-control"/>
        <div *ngIf="(username.invalid && username.touched)">
            <div *ngIf="username.errors?.required" class="alert alert-danger">Username is required</div>
          </div>
    </div>
    <div (click)="open()" style="color:dodgerblue; cursor: pointer;">Forgotten Username ? </div>
    <div class="form-group mt-2">
        <label>Email</label>
        <input type="email" formControlName="email" class="form-control"/>
        <div *ngIf="(email.invalid && email.touched) || email.dirty">
            <div *ngIf="email.errors?.required" class="alert alert-danger">Email is required</div>
            <div *ngIf="email.errors?.pattern" class="alert alert-danger">Please provide a valid email address</div>
          </div>
    </div>
    <p class="mt-2 text-secondary">
        You will receive an OTP on your email if username and email-ID are correctly entered.
    </p>
    <div class="form-group">
        <button class="btn btn-outline-primary" [disabled]="!form3.valid">Submit</button>
        <button mat-dialog-close class="btn btn-light ml-2">Cancel</button>
    </div>
    
</form>