<app-loader></app-loader>
<div class="pt-5" style="background-image: url('assets/images/Form_background.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
min-height: calc(100vh);
margin: 0;">
    <form [formGroup]="form2" >
      <h2>Sign In</h2>
  
      <div class="form-group">
          <label>Email</label>
          <input type="email" formControlName="email" class="form-control"/>
          <div *ngIf="(email.invalid && email.touched) || email.dirty">
              <div *ngIf="email.errors?.required" class="alert alert-danger">Email is required</div>
              <div *ngIf="email.errors?.pattern" class="alert alert-danger">Please provide a valid email address</div>
              <div class="my-3" style="font-weight: bold; color:dodgerblue;" *ngIf="emailNotRegistered">Email is not registered. Please sign up first.</div>
            </div>
      </div>
  
      
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
          <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">Password should have minimum {{password.errors.minlength.requiredLength}} digits</div>
              
          </div>
          <div class="my-3" style="font-weight: bold; color: red;" *ngIf="passwordMismatch">Password is incorrect</div>
        </div>
      <div class="form-group">
          <button class="btn btn-outline-primary" [disabled]="!form2.valid" (click)="signIn()">Sign In</button>
      </div>
      
        <div>
          <p>New User? <a routerLink="/signup" style="color:dodgerblue">Sign Up</a>.</p>
          
        </div>
  </form>
  </div>
  
