body {
    background: #384047;
    font-family: sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    
  }
  form {
    background: #fff;
    padding: 4em 4em 2em;
    max-width: 500px;
    margin: 50px auto 0;
    box-shadow: 0 0 1em #222;
    border-radius: 6px;
  }
    h2 { 
      margin:0 0 50px 0;
      padding:10px;
      text-align:center;
      font-size:30px;
      color:darken(#e5e5e5, 50%);
      border-bottom:solid 1px #e5e5e5;
    }
    .bg-img {
      background-image: url("src/assets/images/Form_background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        min-height: calc(100vh);
        margin: 0;
    }
