<div class="details">
    <p>Parking Go is an effort towards user-friendly driving and organized parking system.There are parking spaces
        scattered across any city, but are difficult to find when you need them on the go.Parking Go makes the job easy
        for you, by allowing you to book spots directly from your phone.You can also register slots owned by you, to be
        used by those in need of parking.</p>
    <p style="font-weight:800;">Meet our Team !</p>
</div>
<div class="container">

    <div class="inside-container">
        <div class="sayantan">
            <img
                src="https://as-prod.asyncgw.teams.microsoft.com/v1/objects/0-sa-d7-a869f84822d51c7d0a0f7d16c8b4c540/views/imgo"><br>
            <h3>Sayantan Barik</h3>
            <p>Technical Analyst</p>
            <p>Sayantan.Barik.@cognizant.com</p>
            <p>8335886809</p>
        </div>
        <div class="sukripta">
            <img
                src="https://serving.photos.photobox.com/89721656dd979c0ca887a1b82915bc8a2a68b909da09caab9762ac9ed5fcde65c078d412.jpg"><br>
            <h3>Sukripta Ghosh</h3>
            <p>Business Analyst</p>
            <p>Sukrpita.Ghosh@cognizant.com</p>
            <p>9674513490</p>
        </div>
        <div class="harshendu">
            <img
                src="https://media-exp1.licdn.com/dms/image/C5103AQHcWnEdlHMKfg/profile-displayphoto-shrink_200_200/0?e=1611187200&v=beta&t=p9ZZ24fRWmVBiGtWtlkpIA7t7wyxZqdS-zjFu4uY0uk"><br>
            <h3>Harshendu Pathak</h3>
            <p>Developer</p>
            <p>Harshendu.Pathak@cognizant.com</p>
            <p>8941824844</p>
        </div>
    </div>
    
</div>

<style>
   
    .details p{
        font-size: 1.5vw;
        font-weight: 400;
    }

    .inside-container {
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
    }

    .sayantan img,
    .harshendu img,
    .sukripta img {
        height: 100px;
        width: 100px;
        border-radius: 100%;
    }

    @media screen and (max-width:480px) {
        .inside-container {
            display: block;
        }
    }
</style>