<app-loader></app-loader>

<div class="main-container">

    <div class="logo">
        <a routerLink="/homepage"><img src="{{imageUrl}}"></a>
    </div>
    <div class="header">
        <div class="heading">
            <a routerLink="/homepage"><h1>PARKING GO</h1></a>
        </div>
        <div class="buttons">
            <a routerLink="/signin"><button>Sign In</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a routerLink="/signup"><button>Sign Up</button></a>
        </div>
    </div>
    <div class="hidden-buttons">
        <a routerLink="/signin"><button>Sign In</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="/signup"><button>Sign Up</button></a>
    </div>

    <div class="content">
        <div class="one">
            <img src="https://sukripta.github.io/parking-go/assets/images/Image-1.jpeg">
            <div class="hidden">
                <p id="one">There are parking spaces scattered across any city, but are difficult to find when you need them on the go.</p><br>
                <button class="btn-link" (click)="openAbout()">About Us&nbsp;<i class="fa fa-play" aria-hidden="true"></i></button>
            </div>

        </div>
        <div class="two">
            <img src="https://sukripta.github.io/parking-go/assets/images/Image-3.jpeg">
            <div class="hidden">
                <p id="two">Parking Go makes the job easy for you, by allowing you to book spots directly from your phone.</p><br>
                <button class="btn-diff" (click)="openWorldwide()">Worldwide&nbsp;<i class="fa fa-globe" aria-hidden="true"></i></button>
            </div>

        </div>
        <div class="three">
            <img src="https://sukripta.github.io/parking-go/assets/images/Image-2.jpeg">
            <div class="hidden">
                <p id="three">You can also register slots owned by you, to be used by those in need of parking.</p><br>
                <a routerLink="/signin"><button class="btn-out">Search for Parking&nbsp;<i class="fa fa-search" aria-hidden="true"></i></button></a>
            </div>

        </div>
    </div>
    <div class="hidden-content">
        <div class="hidden-one">
            <p id="hidden-one">There are parking spaces scattered across any city, but are difficult to find when you need them on the go.</p><br>
                <button class="btn-hidden" (click)="openAbout()">About Us&nbsp;<i class="fa fa-play" aria-hidden="true"></i></button>
        </div>
        <div class="hidden-two">
            <p id="hidden-one">Parking Go makes the job easy for you, by allowing you to book spots directly from your phone.</p><br>
                <button class="btn-hidden" (click)="openWorldwide()">Worldwide&nbsp;<i class="fa fa-globe" aria-hidden="true"></i></button>
        </div>
        <div class="hidden-three">
            <p id="hidden-one">You can also register slots owned by you, to be used by those in need of parking.</p><br>
            <a routerLink="/signin"><button class="btn-hidden">Search for Parking&nbsp;<i class="fa fa-search" aria-hidden="true"></i></button></a>
        </div>
    </div>
    <div class="footer">
        <div id="copyright">
            <p>© Parking GO-2020</p>
        </div>
    </div>    
</div>

<style>
   
    .hidden-buttons {
        display: none;
    }

    .buttons {
        position: absolute;
        width: 20%;
        height: 70%;
        right: 2%;
        top: 35%;
    }
    .buttons button {
        background: none;
        color: #f8e9a1;
        font-size: 1.5vw;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        outline: none;
        border: none;
        padding: 5%;
        transition: all 0.5s;
    }
    .buttons button:hover {
        background-color: #f8e9a1;
        border-radius: 20px;
        color: #24305E;
    }

    .logo img {
        position: absolute;
        top: 5%;
        left: 10%;
        height: 80%;
        width: 80%;

    }
    .logo {
        position: absolute;
        width: 10%;
        left: 5%;
        top: 0%;
        height: 20%;
        background-color: #f8e9a1;
    }
    
    #copyright{
        position: absolute;
        right: 5%;
    }
    #copyright p {
        color: #f8e9a1;
        
        font-weight: 400;
    }
    .footer {
        position: absolute;
        bottom: 0%;
        width: 100%;
        height: 5%;
        background-color: #24305E;
    }
    .header {
        position: absolute;
        width: 80%;
        left: 15%;
        top: 0%;
        height: 20%;
        background-color: #24305E;

    }

    .btn-link {
        outline: none;
        background-color: #374785;
        text-decoration: none;
        border-radius: 50px;
        padding: 3%;
        font-size: 1.5vw;
        color: white;
        border: none;
    }
    .btn-out {
        outline: none;
        background-color: #f76c6c;
        text-decoration: none;
        border-radius: 50px;
        padding: 3%;
        font-size: 1.5vw;
        color: white;
        border: none;
    }
    .btn-diff {
        outline: none;
        text-decoration: none;
        background-color: #f8e9a1;
        border-radius: 50px;
        padding: 3%;
        font-size: 1.5vw;
        color: #374785;
        border: none;
    }

    .hidden{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 60%;
        left: 7.5%;
        transition: opacity 1000ms, visibility 0s;
    }
    .hidden p {
        width: 90%;
    }
    #one {
        color: white;
        line-height: 25px;
        font-size: 1.5vw;
        font-weight: 400;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #two {
        line-height: 25px;
        color: white;
        font-size: 1.5vw;
        font-weight: 400;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #three {
        line-height: 25px;
        color: #374785;
        font-size: 1.5vw;
        font-weight: 400;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .one:hover .hidden,.two:hover .hidden,.three:hover .hidden{
        visibility: visible;
        opacity: 1;
    }
    .content {
        display: flex;
        position: relative;
        top: 25%;
        height: 70%;
        padding-right: 0%;
        padding-left: 0%;
    }
    .one img,.two img,.three img {
        position: absolute;
        left: 7.5%;
        top: 10%;
        border-radius: 100%;
        height: 85%;
        width: 85%;
        transition: all 0.5s;

    }
    .one {
        flex: 1;
        position: relative;
        background-color: #f76c6c;
    }
    .one:hover img,.three:hover img,.two:hover img {
        transform: scale(0.5);
        top: -10%;
    }
    .two {
        position: relative;
        flex: 1;
        background-color: #374785;
    }
    .three {
        position: relative;
        flex: 1;
        background-color: #f8e9a1;
    }

    .main-container {
        background-color: #a8d0e6;
        width: 100%;
        height: 100%;
    }

    .heading h1 {
        color: #f8e9a1;
        position: absolute;
        left: 12%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 3px;
        font-size: 5vw;
        top: 38%;
    }
    .hidden-content {
        display: none;
    }

    @media screen and (max-width: 480px) {
        .heading h1 {
            font-size: 15vw;
            
        }
        .header {
            width: 100%;
            left: 0%;
            height: 15%;
        }
        .logo {
            top: 15%;
            height: 10%;
            left: 0%;
            width: 20%;
        }
        .buttons {
            display: none;
        }
        .hidden-buttons {
            display: block;
            position: absolute;
            width: 50%;
            height: 15%;
            right: 0%;
            top: 18%;
        }
        .hidden-buttons button {
            font-size: 5vw;
            outline: none;
            border: none;
            border-radius: 20px;
            color: #374785;
            padding: 3%;
            font-weight: 500;
        }
       .content {
           display: none;
       }
       .hidden-content {
           display: block;
           position: absolute;
           top: 25%;
           height: 70%;
           width: 100%;
       }
       .hidden-one {
           position: relative;
           background-image:linear-gradient(rgba(255, 255, 255, 0.815), rgba(255, 255, 255, 0.638)),  url(https://sukripta.github.io/parking-go/assets/images/Image-1.jpeg);
           background-repeat: no-repeat;
           background-position: center;
           height: 33%;
           transition: height 0.5s;

       }
       .hidden-two {
           background-image:linear-gradient(rgba(255, 255, 255, 0.815), rgba(255, 255, 255, 0.638)),  url(https://sukripta.github.io/parking-go/assets/images/Image-3.jpeg);
           position: relative;
           height: 33%;
           background-position: center;
           transition: height 0.5s;
           background-repeat: no-repeat;

       }
       .hidden-three {
           background-image:linear-gradient(rgba(255, 255, 255, 0.815), rgba(255, 255, 255, 0.638)),  url(https://sukripta.github.io/parking-go/assets/images/Image-2.jpeg);
           position: relative;
           height: 35%;
           background-repeat: no-repeat;
           transition: height 0.5s;
           background-position: center;
       }    
       #hidden-one {
           position: absolute;
           top: 5%;
           left: 5%;
           font-size: 4.5vw;
           line-height: 25px;
           font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       } 
       .btn-hidden {
           position: absolute;
           bottom: 20%;
           right: 15%;
           outline: none;
           border: none;
           background-color: #f76c6c;
           color: white;
           padding: 2%;
           font-size: 4.5vw;
           border-radius: 20px;
           width: 40%;

       }
       
    }
</style>