<div>
    <p>Cities we are active !</p>
    <ul>
        <li><i class="fas fa-city"></i>&nbsp;&nbsp;Bangalore</li>
        <li><i class="fas fa-city"></i>&nbsp;&nbsp;Mumbai</li>
        <li><i class="fas fa-city"></i>&nbsp;&nbsp;New Delhi</li>
        <li><i class="fas fa-city"></i>&nbsp;&nbsp;Chennai</li>
        <li><i class="fas fa-city"></i>&nbsp;&nbsp;Hyderabad</li>
        <li><i class="fas fa-city"></i>&nbsp;&nbsp;Kolkata</li>
        <li><i class="fas fa-city"></i>&nbsp;&nbsp;Puducherry</li>
    </ul>
</div>

<style>
    p {
        font-size: 2vw;
        font-weight: 600;
    }

    li {
        list-style: none;
        text-decoration: none;
        font-size: 1.5vw;
        font-weight: 500;
    }
</style>