<div class="heading">
    <a routerLink="/dashboard"><img src="{{imageUrl}}"></a>
    <a routerLink="/dashboard" href=""><h1>PARKING GO</h1></a>
    <div id="list">
        <ul class="list">
            <a routerLinkActive="active" routerLink="/dashboard/profile"><li>Profile&nbsp;<i class="fa fa-user" aria-hidden="true"></i></li></a>
            <a routerLinkActive="active" routerLink="/dashboard/active"><li>Active Booking&nbsp;<i class="fa fa-check-circle" aria-hidden="true"></i></li></a>
            <a routerLinkActive="active" routerLink="/dashboard/previous"><li>Previous Booking&nbsp;<i class="fa fa-list-alt" aria-hidden="true"></i></li></a>
            <a routerLinkActive="active" routerLink="/dashboard/registered"><li>Registered Spots&nbsp;<i class="fa fa-bookmark" aria-hidden="true"></i></li></a>
            <a routerLink="/homepage"><li id="logout">Log Out&nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i></li></a>
        </ul>
    </div>
</div>
