<div
  style="
    font-size: 2em;
    padding-bottom: 15px;
    /* border-bottom: 2px solid gold; */
    font-weight: bold;
  "
>
  Your Booking
</div>
<div
  style="
    box-shadow: 0px 0px 3px gold;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
  "
>
  <div style="margin-bottom: 15px">
    <div style="font-size: 1.4em; font-weight: bold; margin-bottom: 10px">
      <span
        style="
          padding-right: 20px;
          padding-bottom: 2px;
          box-shadow: 0px 5px 0px rgba(255, 217, 0, 1);
        "
        >Spot</span
      >
    </div>
    <div style="font-size: 1.1em">
      <div style="font-weight: bolder">Parking Go Spot #{{ _data.id }}</div>
      <div>{{ _data.address }}</div>
    </div>
  </div>

  <div style="margin-bottom: 15px">
    <div style="font-size: 1.4em; font-weight: bold; margin-bottom: 10px">
      <span
        style="
          padding-right: 20px;
          padding-bottom: 2px;
          box-shadow: 0px 5px 0px rgba(255, 217, 0, 1);
        "
        >Vehicle</span
      >
    </div>
    <div style="font-size: 1.1em">
      <div>
        <span style="font-weight: bolder; margin-right: 10px">Number:</span
        ><span style="padding-left: 5px; padding-right: 5px">{{_data.carnumber}}</span>
      </div>
      <div>
        <span style="font-weight: bolder; margin-right: 10px">Type:</span
        ><span style="padding-left: 5px; padding-right: 5px">{{_data.type==1?"Four wheeler":"Two wheeler"}}</span>
      </div>
      <div>
        <span style="font-weight: bolder; margin-right: 10px">Model:</span
        ><span style="padding-left: 5px; padding-right: 5px">{{_data.carmodel}}</span>
      </div>
    </div>
  </div>

  <div style="margin-bottom: 15px">
    <div style="font-size: 1.4em; font-weight: bold; margin-bottom: 10px">
      <span
        style="
          padding-right: 20px;
          padding-bottom: 2px;
          box-shadow: 0px 5px 0px rgba(255, 217, 0, 1);
        "
        >Timeslot</span
      >
    </div>
    <div style="font-size: 1.1em">
      <div>
        <span style="font-weight: bolder; margin-right: 10px">From:</span
        ><span style="padding-left: 5px; padding-right: 5px"
          >{{_data.from}}</span
        >
      </div>
      <div>
        <span style="font-weight: bolder; margin-right: 10px">To:</span
        ><span style="padding-left: 5px; padding-right: 5px"
          >{{_data.to}}</span
        >
      </div>
    </div>
  </div>

  <div style="margin-bottom: 15px">
    <div style="font-size: 1.4em; font-weight: bold; margin-bottom: 10px">
      <span
        style="
          padding-right: 20px;
          padding-bottom: 2px;
          box-shadow: 0px 5px 0px rgba(255, 217, 0, 1);
        "
        >Cost</span
      >
    </div>
    <div style="font-size: 1.1em">
      <span style="font-weight: bolder; margin-right: 10px"
        >&#x20b9; {{ _data.cost }}/hr</span
      >
      per slot
    </div>
  </div>
</div>
<div class="w-100">
  <div class="btn btn-success btn-lg mb-3 w-100" (click)="confirmBooking()">Confirm Booking</div>
  <div class="btn btn-danger w-100" (click)="closeDialog()">Cancel</div>
</div>
