<h2>The vehicle number format for India is as follows:</h2>
<div style="font-size: 1.2em;margin-bottom: 20px;text-align: justify;">
    <ul>
        <li>The first two letters of the registration plate represent the State in which the vehicle is registered.</li>
        <li>The next two digit numbers are the sequential number of a district.</li>
        <li>The third part is a 4 digit number unique to each plate. A letter(s)
            is prefixed when the 4 digit number runs out and then two letters and so
            on.</li>
        <li>In some states (such as the union territory of Delhi, and the state of
            Gujarat) the initial 0 of the district code is omitted; thus Delhi district 2
            numbers appear as DL 2 not DL 02.</li>
        <li>The National Capital Territory of Delhi has an additional code in the
            registration code: DL 01 C AA 1111.</li>
    </ul>
  
  Please ensure to enter only capital letters and numbers. Also, enter the
  vehicle number without spaces.<br />
  <i>For example: If your vehicle number is </i><b>AB 12 C 3456</b
  ><i> , please enter </i><b>AB12C3456</b>.
</div>
<div>Source: <a href="https://en.wikipedia.org/wiki/Vehicle_registration_plates_of_India#:~:text=The%20current%20format%20of%20the,sequential%20number%20of%20a%20district.&text=The%20third%20part%20consists%20of,or%20no%20letters%20at%20all." target="_blank" rel="noopener noreferrer" style="text-decoration: none;">Wikipedia</a></div>
